<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Area de Editor</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Crear Revista</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Ver Revistas Propias</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Reportes
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Visualizar comentarios de revistas</a></li>
                      <li><a class="dropdown-item" href="#">Visualizar suscripciones a revistas</a></li>
                      <li><a class="dropdown-item" href="#">Ver revistas mas gustadas</a></li>
                      <li><a class="dropdown-item" href="#">Visualizar ganancias</a></li>
                  </ul>
              </li>
          </ul>
          <span class="d-flex navbar-text text-white">
              Nombre: {{editor.nombre}}
          </span>
          <div class="p-2">
              <a class="btn btn-primary" (click)="cerrarSesion($event)" href="#">Cerrar Sesion</a>
          </div>
      </div>
  </div>
</nav>


