<nav class="navbar navbar-expand navbar-dark bg-dark" id="navId">
    <div class="container-fluid">
        <a class="navbar-brand" href={{rutasAdmin.MAIN_ADMIN}}>Area de Administrador</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href={{rutasAdmin.ASIGN_COST}}>Asignar Gasto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Cambiar Gasto de Revista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active disabled" ng-disabled="true" aria-current="page" href="#">Crear Anuncio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active disabled"  aria-current="page" href="#">Ver listado anuncios</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes de Ganancia</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item disabled" ng-disabled="true" href="#tab2Id">Ganancia por Revista</a>
                        <a class="dropdown-item disabled" ng-disabled="true" href="#tab3Id">Ganancia por Anunciante</a>
                        <a class="dropdown-item disabled" ng-disabled="true" href="#tab4Id">Ganancias Totales</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes de Revistas</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{rutasAdmin.MOST_SUSCRIBED_MAGAZINES}}">Revistas mas populares</a>
                        <a class="dropdown-item" href="{{rutasAdmin.MOST_COMENTED_MAGAZINES}}">Revistas mas comentas</a>
                        <a class="dropdown-item disabled" ng-disabled="true" href="#tab4Id">Ganancias Totales</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes de Anuncios</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item disabled" ng-disabled="true" href="#tab2Id">Reporte Anuncios</a>
                        <a class="dropdown-item disabled" ng-disabled="true" href="#tab3Id">Efectividad de anuncios</a>
                    </div>
                </li>
            </ul>
            <span class="ml-5 d-flex navbar-text text-white">
                Nombre de Usuario: {{admin.userName}}
            </span>
            <div class="p-2">
                <a class="btn btn-primary" (click)="cerrarSesion($event)" href="#">Cerrar Sesion</a>
            </div>
        </div>
    </div>
</nav>

<!-- Tab panes
<div class="tab-content">
    <div class="tab-pane fade show active" id="tab1Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab2Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab3Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab4Id" role="tabpanel"></div>
    <div class="tab-pane fade" id="tab5Id" role="tabpanel"></div>
</div> -->

<script>
    $('#navId a').click(e => {
        e.preventDefault();
        $(this).tab('show');
    });
</script>
