
.tableFixHead {
  overflow-y: auto;
  height:700px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.prueba {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

table tr {
  padding: 0px;
  margin: 0px;
}

input {
text-align: center;
}

th,td {
  /* padding: 4px 10px; */
  border: 1px solid #ccc;
}
th {
  background: #eee;
}
