<div class="container">
  <h3 class="text-center m-5">Formulario de Creacion de Revista</h3>
  <div *ngIf="_mostrarError" class="alert alert-danger">
    <h6 class="text-center">{{_mensaje}}</h6>
  </div>
  <div *ngIf="_mostrarExito" class="alert alert-success">
    <h6 class="text-center">{{_mensaje}}</h6>
  </div>
  <div class="row mt-5">
    <div class="col-8">
      <form [formGroup]='_registerRevistaForm' (ngSubmit)="registrarRevista()" class="border p-3">
        <div class="form-group row">
          <label for="inputName" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Nombre de Revista"
              formControlName="nombre">
          </div>
        </div>
        <div class="form-group">
          <label for="textDescripcion">Descripcion</label>
          <textarea class="form-control rounded-0 " id="textDescripcion" rows="3" max-rows="6"
            formControlName="descripcion"></textarea>
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Tipo de Cobro</legend>
            <div class="col-sm-10">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="cobro" id="gridGratis" value="false" checked
                  formControlName="cobro">
                <label class="form-check-label" for="gridGratis">
                  Gratis
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="cobro" id="gridPago" value="true"
                  formControlName="cobro">
                <label class="form-check-label" for="gridPago">
                  Pago
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <label for="priceRevistas" class="col-sm-2 col-form-label">Costo</label>
          <div class="col-sm-10">
            <input *ngIf="_registerRevistaForm.value.cobro === 'true'" [ngClass]="_cantidadInvalida" type="text"
              class="form-control" id="priceRevistas" placeholder="Precio de Suscripcion" formControlName="costo"
              NumberOnly>
            <div *ngIf="_cantidadInvalida!=''" class="invalid-feedback">
              Por favor, ingrese una cantidad mayor a 0
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="categoriaRevista" class="col-sm-2 col-form-label">Categoria de Revista</label>
          <div class="col-sm-10">
            <select class="form-control" id="categoriaRevista" formControlName="categoria">
              <option [ngValue]="null">Seleccione una categoria para la revista...</option>
              <option *ngFor="let categoria of _listadoCategorias" [ngValue]="categoria.nombre">{{categoria.nombre}}
              </option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center">
          <button [disabled]="_registerRevistaForm.invalid" type="submit" class="btn btn-primary">Registrar
            Revista</button>
        </div>
      </form>
    </div>
    <div class="col-4 border">
      <div class="row">
        <h5 class="text-center p-4">Agrega etiquetas para asociarlas a tu revista</h5>
        <form [formGroup]="_etiquetaForm" (ngSubmit)="agregarEtiqueta()">
          <div class="input-group mb-3">
            <div class="input-group mb-3 justify-content-center">
              <label class="input-group-text mb-1" for="nombre_etiqueta">Etiqueta</label>
              <div class="col-auto">
                <input formControlName="etiqueta" [ngClass]="_isInvalid" style="text-align: center" type="text" class="form-control"
                  name="nombre_etiqueta" id="nombre_etiqueta" placeholder="Ingresa la etiqueta">
                <div *ngIf="_isInvalid!=''" class="invalid-feedback">
                  {{_isInvalidMessage}}
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="input-group justify-content-center">
                <button type="submit" [disabled]="_etiquetaForm.invalid" class="btn btn-outline-success">Agregar
                  etiqueta</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row mt-3">
        <div class="tableFixHead table-inverse table-responsive">
          <table>
            <thead>
              <tr>
                <th>Nombre de Etiqueta</th>
                <th>Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let etiqueta of _listadoEtiquetas">
                <td>{{etiqueta.nombre}}</td>
                <td><button class="btn btn-outline-danger" (click)="eliminarEtiqueta(etiqueta)">Eliminar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
